virtuecore-adint/n8n/workflows/uk-travel-lead-finder.json
{
    "name": "UK Travel Company Lead Finder – No Pixel + No Active Ads",
    "nodes": [
        {
            "parameters": {},
            "id": "node_manual_trigger",
            "name": "Run Manually",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [240, 280]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 1
                        }
                    ]
                }
            },
            "id": "node_schedule_trigger",
            "name": "Every Hour",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [240, 420]
        },
        {
            "parameters": {
                "operation": "getAll",
                "documentId": {
                    "__rl": true,
                    "value": "={{ $env.GOOGLE_SHEET_ID }}",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "UK Travel Leads",
                    "mode": "name"
                },
                "returnAll": true,
                "options": {}
            },
            "id": "node_sheets_read",
            "name": "Read Existing Leads",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [520, 340],
            "continueOnFail": true,
            "credentials": {
                "googleApi": {
                    "id": "CONFIGURE_GOOGLE_SERVICE_ACCOUNT",
                    "name": "Google Service Account"
                }
            }
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "/* ============================================================\n   DISCOVER NEW UK TRAVEL COMPANIES\n   - Reads already-seen domains from Google Sheets (passed in as\n     $input items) so we never re-process the same company.\n   - Queries SerpAPI with 25+ rotating UK travel searches.\n   - Returns only companies NOT already in the sheet.\n   Env: SERPAPI_KEY\n   ============================================================ */\nconst serpApiKey = $env.SERPAPI_KEY || '';\n\n// Build set of already-seen domains from the Google Sheet rows\nconst existingItems = $input.all();\nconst seenDomains = new Set(\n  existingItems\n    .map(item => (item.json['Domain'] || item.json['domain'] || '').toLowerCase().trim())\n    .filter(Boolean)\n);\n\n// 25 rotating search queries covering a wide range of UK travel niches\n// Using more queries = more unique companies discovered each hour\nconst searchQueries = [\n  'UK travel agency tour operator site:co.uk',\n  'UK independent tour operator package holidays',\n  'UK travel company luxury beach holidays',\n  'UK adventure travel company tours',\n  'UK group travel holidays operator site:co.uk',\n  'UK family holiday travel company',\n  'UK coach holiday company tours site:co.uk',\n  'UK ski snowboard holiday specialist',\n  'UK walking trekking hiking holiday company',\n  'UK cruise holiday specialist operator',\n  'UK honeymoon travel company specialist',\n  'UK safari Africa holiday operator',\n  'UK beach resort holiday specialist',\n  'UK city break short break travel company',\n  'UK cultural heritage tours travel operator',\n  'London specialist travel agency holidays',\n  'Manchester travel agency tour operator',\n  'Scotland Highland tours travel company',\n  'Wales holiday tours travel operator',\n  'Yorkshire Dales holiday travel company',\n  'UK solo travel holiday specialist',\n  'UK sustainable eco green travel company',\n  'UK golf holiday specialist operator',\n  'UK spa wellness retreat holiday company',\n  'UK bespoke tailor-made holiday travel agent',\n  'UK river barge canal holiday operator',\n  'UK cycling road bike holiday company',\n  'UK horse riding equestrian holiday operator',\n  'UK diving snorkelling holiday specialist',\n  'UK photography wildlife holiday company'\n];\n\nconst skipPatterns = [\n  'tripadvisor', 'trustpilot', 'google', 'facebook', 'wikipedia',\n  'yelp', 'indeed', 'linkedin', 'twitter', 'instagram', 'youtube',\n  'booking.com', 'expedia', 'airbnb', 'loveholidays', 'on-the-beach',\n  'jet2.', 'tui.', 'firstchoice.', 'easyjet', 'ryanair', 'thomascook',\n  'lastminute', 'kayak', 'skyscanner', 'holidaypirates', 'dealchecker',\n  'gov.uk', 'bbc.co.uk', 'theguardian', 'telegraph', 'dailymail'\n];\n\nconst companies = [];\nconst seenThisRun = new Set();\n\nif (serpApiKey) {\n  // Process all queries (30 queries × 20 results = up to 600 candidates)\n  for (const query of searchQueries) {\n    try {\n      const url = [\n        'https://serpapi.com/search',\n        `?api_key=${encodeURIComponent(serpApiKey)}`,\n        '&engine=google',\n        `&q=${encodeURIComponent(query)}`,\n        '&num=20',\n        '&gl=uk',\n        '&hl=en',\n      ].join('');\n\n      const res = await fetch(url, { signal: AbortSignal.timeout(15000) });\n      if (!res.ok) continue;\n      const data = await res.json();\n\n      for (const result of (data.organic_results || [])) {\n        try {\n          const link = result.link || '';\n          if (!link.startsWith('http')) continue;\n          const hostname = new URL(link).hostname.replace(/^www\\./, '').toLowerCase();\n\n          // Skip aggregators, OTAs, media sites\n          if (skipPatterns.some(p => hostname.includes(p))) continue;\n          // Skip already in Google Sheet\n          if (seenDomains.has(hostname)) continue;\n          // Skip already found this run\n          if (seenThisRun.has(hostname)) continue;\n\n          seenThisRun.add(hostname);\n\n          // Extract clean company name from page title\n          const rawTitle = result.title || hostname;\n          const name = rawTitle\n            .split(/ [-–|:] /)[0]\n            .replace(/\\(.*?\\)/g, '')\n            .replace(/\\s{2,}/g, ' ')\n            .trim();\n\n          companies.push({ name, domain: hostname, website: link });\n        } catch {}\n      }\n    } catch {}\n  }\n} else {\n  // No SERPAPI_KEY – use a small seed list so the workflow still runs\n  const seedList = [\n    { name: 'Inntravel', domain: 'inntravel.co.uk', website: 'https://www.inntravel.co.uk' },\n    { name: 'Exodus Travels', domain: 'exodustravels.com', website: 'https://www.exodustravels.com' },\n    { name: 'Neilson Holidays', domain: 'neilson.co.uk', website: 'https://www.neilson.co.uk' },\n    { name: 'Explore Worldwide', domain: 'explore.co.uk', website: 'https://www.explore.co.uk' },\n    { name: 'G Adventures UK', domain: 'gadventures.com', website: 'https://www.gadventures.com' },\n  ];\n  for (const c of seedList) {\n    if (!seenDomains.has(c.domain)) companies.push(c);\n  }\n}\n\nif (companies.length === 0) {\n  // Nothing new this cycle – return a no-op item so the workflow ends cleanly\n  return [{ json: { _noNewLeads: true, message: 'All discovered companies already processed.' } }];\n}\n\nreturn companies.map(c => ({ json: c }));"
            },
            "id": "node_discover",
            "name": "Discover New Companies",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [780, 340]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "cond_skip_noop",
                            "leftValue": "={{ $json._noNewLeads }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "node_filter_noop",
            "name": "Has New Companies",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [1040, 340]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "/* ============================================================\n   ANALYSE EACH COMPANY\n\n   LEAD CRITERIA (warm outreach profile):\n   ✅ NO Meta Pixel on website  → not doing conversion tracking,\n      no Meta ad infrastructure in place = they're not running ads\n   ✅ No currently ACTIVE Meta ads in the Ad Library\n   ✅ Has social media presence (FB / IG / TikTok) with content\n      = they have an audience but are not monetising it with paid ads\n   Bonus: had ads historically = already understands paid media\n\n   Step 1 – Firecrawl: scrape website, check for pixel, detect social links\n   Step 2 – Apify (Meta Ad Library): check active / lapsed ads\n   Step 3 – Score and qualify\n\n   Env: FIRECRAWL_API_KEY, APIFY_API_KEY\n   ============================================================ */\nconst company      = $json;\nconst firecrawlKey = $env.FIRECRAWL_API_KEY || '';\nconst apifyKey     = $env.APIFY_API_KEY     || '';\n\n// Same Apify actor used by the main app (search/route.ts)\nconst APIFY_ACTOR_ID = 'ZQyDz7154hrOfrDMK';\n\n// ──────────────────────────────────────────────────────────────\n// STEP 1 – Firecrawl website scrape\n// ──────────────────────────────────────────────────────────────\nlet html            = '';\nlet pageTitle       = '';\nlet pageDescription = '';\nlet scrapeSuccess   = false;\nlet scrapeError     = '';\n\nif (firecrawlKey && company.website) {\n  try {\n    const fcRes = await fetch('https://api.firecrawl.dev/v1/scrape', {\n      method: 'POST',\n      headers: {\n        'Authorization': `Bearer ${firecrawlKey}`,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        url: company.website,\n        formats: ['html'],\n        waitFor: 2000,\n      }),\n      signal: AbortSignal.timeout(35000),\n    });\n    if (fcRes.ok) {\n      const fc = await fcRes.json();\n      html            = fc?.data?.html        || '';\n      pageTitle       = fc?.data?.metadata?.title       || '';\n      pageDescription = fc?.data?.metadata?.description || '';\n      scrapeSuccess   = fc?.success === true;\n    } else {\n      scrapeError = `HTTP ${fcRes.status}`;\n    }\n  } catch (e) {\n    scrapeError = String(e?.message || 'Firecrawl timeout');\n  }\n}\n\n// ──────────────────────────────────────────────────────────────\n// STEP 2 – Check for Meta Pixel (ABSENCE = our opportunity signal)\n// ──────────────────────────────────────────────────────────────\nconst pixelPatterns = [\n  /fbq\\s*\\(\\s*['\"]init['\"]\\s*,\\s*['\"]?(\\d{10,16})['\"]?/i,\n  /\"pixelId\"\\s*:\\s*\"(\\d{10,16})\"/i,\n  /facebook\\.com\\/tr\\?id=(\\d{10,16})/i,\n  /'pixel_id'\\s*:\\s*'(\\d{10,16})'/i,\n  /fbPixelId[^\\d]+(\\d{10,16})/i,\n];\nlet pixelId = null;\nfor (const p of pixelPatterns) {\n  const m = html.match(p);\n  if (m) { pixelId = m[1]; break; }\n}\nconst hasPixel = !!pixelId;\n\n// ──────────────────────────────────────────────────────────────\n// STEP 3 – Social media presence (UGC / content signals)\n// Detect links to social profiles in the HTML\n// ──────────────────────────────────────────────────────────────\nconst hasFacebook  = /facebook\\.com\\/(?!sharer|share|dialog|plugins|photo|event|group)[a-zA-Z0-9./_-]{3,}/.test(html);\nconst hasInstagram = /instagram\\.com\\/[a-zA-Z0-9._]{3,}/.test(html);\nconst hasTiktok    = /tiktok\\.com\\/@[a-zA-Z0-9._]{2,}/.test(html);\nconst hasTwitter   = /(?:twitter|x)\\.com\\/[a-zA-Z0-9_]{3,}/.test(html);\nconst hasYoutube   = /youtube\\.com\\/(channel|user|c\\/|@)[a-zA-Z0-9_-]{3,}/.test(html);\n\n// Extract Facebook page URL if present (for the sheet)\nlet facebookUrl = '';\nconst fbMatch = html.match(/(?:href=[\"'])(https?:\\/\\/(?:www\\.)?facebook\\.com\\/(?!sharer|share|dialog|plugins|photo|event|group)[a-zA-Z0-9./_-]{3,})/i);\nif (fbMatch) facebookUrl = fbMatch[1];\n\nlet instagramUrl = '';\nconst igMatch = html.match(/(?:href=[\"'])(https?:\\/\\/(?:www\\.)?instagram\\.com\\/[a-zA-Z0-9._]{3,})/i);\nif (igMatch) instagramUrl = igMatch[1];\n\n// ──────────────────────────────────────────────────────────────\n// STEP 4 – Meta Ad Library check via Apify\n// ──────────────────────────────────────────────────────────────\nlet hasActiveAds         = false;\nlet hasRecentInactiveAds = false;\nlet totalAdsFound        = 0;\nlet mostRecentAdDate     = null;\nlet adSamples            = [];\nlet adLibraryError       = '';\n\nif (apifyKey) {\n  try {\n    const libraryUrl = [\n      'https://www.facebook.com/ads/library/',\n      '?active_status=all',\n      '&ad_type=all',\n      '&country=GB',\n      `&q=${encodeURIComponent(company.name)}`,\n      '&search_type=keyword_unordered',\n      '&media_type=all',\n    ].join('');\n\n    const runRes = await fetch(\n      `https://api.apify.com/v2/acts/${APIFY_ACTOR_ID}/runs?waitForFinish=90`,\n      {\n        method: 'POST',\n        headers: {\n          'Content-Type': 'application/json',\n          'Authorization': `Bearer ${apifyKey}`,\n        },\n        body: JSON.stringify({ startUrls: [{ url: libraryUrl }], maxResults: 25 }),\n        signal: AbortSignal.timeout(100000),\n      }\n    );\n\n    const runData = await runRes.json().catch(() => ({}));\n    if (!runRes.ok || runData?.error) {\n      adLibraryError = runData?.error?.message || 'Apify run failed';\n    } else {\n      const datasetId = runData?.data?.defaultDatasetId;\n      if (!datasetId) {\n        adLibraryError = 'No Apify dataset ID returned';\n      } else {\n        const itemsRes = await fetch(\n          `https://api.apify.com/v2/datasets/${datasetId}/items?limit=25`,\n          { headers: { 'Authorization': `Bearer ${apifyKey}` }, signal: AbortSignal.timeout(20000) }\n        );\n        const items = await itemsRes.json().catch(() => []);\n\n        if (Array.isArray(items)) {\n          totalAdsFound = items.length;\n          const twelveMonthsAgo = Date.now() - 365 * 24 * 60 * 60 * 1000;\n\n          for (const ad of items) {\n            if (!ad.endDate) hasActiveAds = true;\n            const startMs = ad.startDate ? new Date(ad.startDate).getTime() : 0;\n            if (startMs > twelveMonthsAgo) hasRecentInactiveAds = true;\n            if (!mostRecentAdDate || startMs > new Date(mostRecentAdDate).getTime()) {\n              mostRecentAdDate = ad.startDate || null;\n            }\n          }\n\n          adSamples = items.slice(0, 3).map(ad => ({\n            id:          String(ad.adArchiveID || ''),\n            pageName:    ad.pageName || '',\n            body:        (ad.adCreativeBodies || [])[0] || '',\n            status:      ad.adStatus || (ad.endDate ? 'INACTIVE' : 'ACTIVE'),\n            startDate:   ad.startDate || null,\n            endDate:     ad.endDate   || null,\n            platforms:   ad.publisherPlatforms || [],\n            snapshotUrl: ad.adSnapshotUrl || '',\n          }));\n        }\n      }\n    }\n  } catch (e) {\n    adLibraryError = String(e?.message || 'Apify error');\n  }\n}\n\n// ──────────────────────────────────────────────────────────────\n// STEP 5 – Lead qualification\n//\n// PRIMARY SIGNAL: No Meta Pixel on site = company is NOT using\n// Meta's tracking infrastructure → very likely NOT running Meta ads\n//\n// CONFIRMED BY: Ad Library check (no active ads)\n//\n// SALES ANGLE: They have social presence + audience (FB/IG/UGC)\n// but are not monetising it with paid ads. Perfect prospect.\n// ──────────────────────────────────────────────────────────────\nconst hasSocialPresence = hasFacebook || hasInstagram || hasTiktok;\nconst neitherPixelNorActiveAds = !hasPixel && !hasActiveAds;\n\n// Must have: no pixel AND no active ads AND some social presence\nconst isQualified = neitherPixelNorActiveAds && hasSocialPresence;\n\n// Score the lead (max 100)\nlet leadScore = 0;\nif (!hasPixel)             leadScore += 40; // Primary signal – no pixel = not using Meta ads\nif (!hasActiveAds)         leadScore += 20; // Confirmed not running ads\nif (hasSocialPresence)     leadScore += 15; // Has an audience to advertise to\nif (hasRecentInactiveAds)  leadScore += 15; // Was advertising recently – warm/lapsed\nif (hasFacebook)           leadScore += 4;\nif (hasInstagram)          leadScore += 4;\nif (hasTiktok)             leadScore += 2;\n\nconst reasonParts = [];\nif (!hasPixel && scrapeSuccess)             reasonParts.push('No Meta Pixel detected');\nif (!hasPixel && !scrapeSuccess)            reasonParts.push('No pixel (scrape inconclusive)');\nif (!hasActiveAds)                          reasonParts.push('Not running Meta ads');\nif (hasRecentInactiveAds)                   reasonParts.push('Previously ran Meta ads (< 12m ago)');\nif (totalAdsFound > 0 && !hasRecentInactiveAds) reasonParts.push(`${totalAdsFound} historical ad(s)`);\nif (hasFacebook)                            reasonParts.push('Facebook page linked');\nif (hasInstagram)                           reasonParts.push('Instagram linked');\nif (hasTiktok)                              reasonParts.push('TikTok linked');\n\nreturn [{\n  json: {\n    // Company\n    company_name:            company.name,\n    domain:                  company.domain,\n    website:                 company.website,\n    page_title:              pageTitle,\n    page_description:        pageDescription,\n    // Pixel signal\n    has_pixel:               hasPixel,\n    pixel_id:                pixelId || '',\n    // Social / UGC signals\n    has_facebook:            hasFacebook,\n    has_instagram:           hasInstagram,\n    has_tiktok:              hasTiktok,\n    has_twitter:             hasTwitter,\n    has_youtube:             hasYoutube,\n    facebook_url:            facebookUrl,\n    instagram_url:           instagramUrl,\n    // Ad Library\n    has_active_ads:          hasActiveAds,\n    has_recent_inactive_ads: hasRecentInactiveAds,\n    total_ads_found:         totalAdsFound,\n    most_recent_ad_date:     mostRecentAdDate,\n    ad_samples:              adSamples,\n    ad_library_error:        adLibraryError,\n    // Qualification\n    is_qualified:            isQualified,\n    lead_score:              leadScore,\n    lead_reason:             reasonParts.join(' | ') || 'Does not meet criteria',\n    // Debug\n    scrape_success:          scrapeSuccess,\n    scrape_error:            scrapeError,\n    analysed_at:             new Date().toISOString(),\n  }\n}];"
            },
            "id": "node_analyse",
            "name": "Analyse Company",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1300, 340],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "cond_qualified",
                            "leftValue": "={{ $json.is_qualified }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "node_filter_qualified",
            "name": "Qualified Leads Only",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [1560, 340]
        },
        {
            "parameters": {
                "sortFieldsUi": {
                    "sortField": [
                        {
                            "fieldName": "lead_score",
                            "order": "descending"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node_sort",
            "name": "Sort by Lead Score",
            "type": "n8n-nodes-base.sort",
            "typeVersion": 1,
            "position": [1800, 340]
        },
        {
            "parameters": {
                "operation": "appendOrUpdate",
                "documentId": {
                    "__rl": true,
                    "value": "={{ $env.GOOGLE_SHEET_ID }}",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "UK Travel Leads",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Domain":                   "={{ $json.domain }}",
                        "Company Name":             "={{ $json.company_name }}",
                        "Website":                  "={{ $json.website }}",
                        "Lead Score":               "={{ $json.lead_score }}",
                        "No Pixel (✅ = opportunity)":"={{ $json.has_pixel ? '❌ Has pixel' : '✅ No pixel' }}",
                        "No Active Ads":            "={{ $json.has_active_ads ? '❌ Running ads' : '✅ No active ads' }}",
                        "Ad History":               "={{ $json.has_recent_inactive_ads ? 'Ran ads < 12m ago' : ($json.total_ads_found > 0 ? 'Old ad history' : 'Never ran ads') }}",
                        "Total Ads Found":          "={{ $json.total_ads_found }}",
                        "Most Recent Ad Date":       "={{ $json.most_recent_ad_date || '' }}",
                        "Facebook":                 "={{ $json.has_facebook ? '✅ Yes' : 'No' }}",
                        "Facebook URL":             "={{ $json.facebook_url || '' }}",
                        "Instagram":                "={{ $json.has_instagram ? '✅ Yes' : 'No' }}",
                        "Instagram URL":            "={{ $json.instagram_url || '' }}",
                        "TikTok":                   "={{ $json.has_tiktok ? '✅ Yes' : 'No' }}",
                        "YouTube":                  "={{ $json.has_youtube ? '✅ Yes' : 'No' }}",
                        "Page Title":               "={{ $json.page_title }}",
                        "Page Description":         "={{ $json.page_description }}",
                        "Lead Reason":              "={{ $json.lead_reason }}",
                        "Top Ad Sample":            "={{ $json.ad_samples && $json.ad_samples[0] ? $json.ad_samples[0].body : '' }}",
                        "Ad Snapshot URL":          "={{ $json.ad_samples && $json.ad_samples[0] ? $json.ad_samples[0].snapshotUrl : '' }}",
                        "Scrape OK":                "={{ $json.scrape_success ? 'Yes' : 'No' }}",
                        "Found At":                 "={{ $json.analysed_at }}",
                        "Last Updated":             "={{ new Date().toISOString() }}"
                    },
                    "matchingColumns": ["Domain"]
                },
                "options": {}
            },
            "id": "node_sheets_write",
            "name": "Save Lead to Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [2040, 340],
            "continueOnFail": true,
            "credentials": {
                "googleApi": {
                    "id": "CONFIGURE_GOOGLE_SERVICE_ACCOUNT",
                    "name": "Google Service Account"
                }
            }
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "destinationFieldName": "leads_this_run",
                "options": {}
            },
            "id": "node_aggregate",
            "name": "Aggregate Run Results",
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [2280, 340]
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "/* ============================================================\n   HOURLY RUN SUMMARY\n   Logs how many new leads were found this cycle.\n   Extend this to send a Slack message, email, or webhook\n   with the summary.\n   ============================================================ */\nconst leads = $json.leads_this_run || [];\n\nconst stats = {\n  new_leads_this_run: leads.length,\n  run_at: new Date().toISOString(),\n  with_no_pixel:         leads.filter(l => !l.has_pixel).length,\n  with_no_active_ads:    leads.filter(l => !l.has_active_ads).length,\n  with_lapsed_ads:       leads.filter(l => l.has_recent_inactive_ads).length,\n  with_facebook:         leads.filter(l => l.has_facebook).length,\n  with_instagram:        leads.filter(l => l.has_instagram).length,\n  avg_score:             leads.length\n    ? Math.round(leads.reduce((s, l) => s + (l.lead_score || 0), 0) / leads.length)\n    : 0,\n};\n\nconst topLeads = [...leads]\n  .sort((a, b) => (b.lead_score || 0) - (a.lead_score || 0))\n  .slice(0, 10)\n  .map(l => ({\n    company:   l.company_name,\n    website:   l.website,\n    score:     l.lead_score,\n    reason:    l.lead_reason,\n  }));\n\nconst slackText = [\n  `*UK Travel Lead Finder – ${new Date().toLocaleString('en-GB', { timeZone: 'Europe/London' })}*`,\n  `Found *${stats.new_leads_this_run}* new qualified leads this hour`,\n  `• ${stats.with_no_pixel} confirmed no Meta Pixel`,\n  `• ${stats.with_lapsed_ads} had lapsed Meta ads (< 12m)`,\n  `• ${stats.with_facebook} have Facebook presence`,\n  `• ${stats.with_instagram} have Instagram presence`,\n  '',\n  '*Top 5 this run:*',\n  ...topLeads.slice(0, 5).map((l, i) =>\n    `${i + 1}. ${l.company} (score: ${l.score}) – ${l.website}`\n  ),\n].join('\\n');\n\nreturn [{ json: { stats, top_leads: topLeads, slack_text: slackText } }];"
            },
            "id": "node_summary",
            "name": "Hourly Run Summary",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [2520, 340]
        }
    ],
    "connections": {
        "Run Manually": {
            "main": [
                [{ "node": "Read Existing Leads", "type": "main", "index": 0 }]
            ]
        },
        "Every Hour": {
            "main": [
                [{ "node": "Read Existing Leads", "type": "main", "index": 0 }]
            ]
        },
        "Read Existing Leads": {
            "main": [
                [{ "node": "Discover New Companies", "type": "main", "index": 0 }]
            ]
        },
        "Discover New Companies": {
            "main": [
                [{ "node": "Has New Companies", "type": "main", "index": 0 }]
            ]
        },
        "Has New Companies": {
            "main": [
                [{ "node": "Analyse Company", "type": "main", "index": 0 }]
            ]
        },
        "Analyse Company": {
            "main": [
                [{ "node": "Qualified Leads Only", "type": "main", "index": 0 }]
            ]
        },
        "Qualified Leads Only": {
            "main": [
                [{ "node": "Sort by Lead Score", "type": "main", "index": 0 }]
            ]
        },
        "Sort by Lead Score": {
            "main": [
                [{ "node": "Save Lead to Google Sheets", "type": "main", "index": 0 }]
            ]
        },
        "Save Lead to Google Sheets": {
            "main": [
                [{ "node": "Aggregate Run Results", "type": "main", "index": 0 }]
            ]
        },
        "Aggregate Run Results": {
            "main": [
                [{ "node": "Hourly Run Summary", "type": "main", "index": 0 }]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "versionId": "2",
    "tags": ["lead-generation", "travel", "meta-ads", "firecrawl", "google-sheets"]
}
