virtuecore-adint/n8n/workflows/virtuecore-events-router.json
{
    "name": "VirtueCore Events Router",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "virtuecore-events",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "Webhook_1",
            "name": "Incoming Event",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{$json.body.event}}",
                                        "rightValue": "search_completed",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{$json.body.event}}",
                                        "rightValue": "third_search",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{$json.body.event}}",
                                        "rightValue": "limit_reached",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{$json.body.event}}",
                                        "rightValue": "user_signed_up",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{$json.body.event}}",
                                        "rightValue": "report_generated",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{$json.body.event}}",
                                        "rightValue": "upgrade_to_pro",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{$json.body.event}}",
                                        "rightValue": "subscription_cancelled",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{$json.body.event}}",
                                        "rightValue": "payment_failed",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": 9
                }
            },
            "id": "Switch_1",
            "name": "Route By Event",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// TODO: Replace with your CRM/update logic\nreturn [{ json: { handled: true, route: 'search_completed', payload: $json.body } }];"
            },
            "id": "Code_SearchCompleted",
            "name": "Handle Search Completed",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                780,
                140
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// TODO: Replace with your qualified lead flow\nreturn [{ json: { handled: true, route: 'third_search', payload: $json.body } }];"
            },
            "id": "Code_ThirdSearch",
            "name": "Handle Third Search",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                780,
                240
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// TODO: Replace with your upgrade prompt flow\nreturn [{ json: { handled: true, route: 'limit_reached', payload: $json.body } }];"
            },
            "id": "Code_LimitReached",
            "name": "Handle Limit Reached",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                780,
                340
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// TODO: Replace with your onboarding/welcome flow\nreturn [{ json: { handled: true, route: 'user_signed_up', payload: $json.body } }];"
            },
            "id": "Code_UserSignedUp",
            "name": "Handle User Signed Up",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                780,
                440
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// TODO: Replace with your report delivery flow\nreturn [{ json: { handled: true, route: 'report_generated', payload: $json.body } }];"
            },
            "id": "Code_ReportGenerated",
            "name": "Handle Report Generated",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                780,
                520
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// TODO: Replace with your payment failure recovery flow\nreturn [{ json: { handled: true, route: 'payment_failed', payload: $json.body } }];"
            },
            "id": "Code_PaymentFailed",
            "name": "Handle Payment Failed",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                780,
                620
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// TODO: Replace with your successful upgrade flow\nreturn [{ json: { handled: true, route: 'upgrade_to_pro', payload: $json.body } }];"
            },
            "id": "Code_UpgradeToPro",
            "name": "Handle Upgrade To Pro",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                780,
                720
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// TODO: Replace with your cancellation retention flow\nreturn [{ json: { handled: true, route: 'subscription_cancelled', payload: $json.body } }];"
            },
            "id": "Code_SubscriptionCancelled",
            "name": "Handle Subscription Cancelled",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                780,
                820
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// Default fallback route\nreturn [{ json: { handled: true, route: 'unmatched', payload: $json.body } }];"
            },
            "id": "Code_Fallback",
            "name": "Handle Fallback",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                780,
                920
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"ok\": true,\n  \"event\": $json.body.event || 'unknown'\n}",
                "options": {}
            },
            "id": "Respond_1",
            "name": "Respond OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1040,
                300
            ]
        }
    ],
    "connections": {
        "Incoming Event": {
            "main": [
                [
                    {
                        "node": "Route By Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route By Event": {
            "main": [
                [
                    {
                        "node": "Handle Search Completed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Handle Third Search",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Handle Limit Reached",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Handle User Signed Up",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Handle Report Generated",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Handle Upgrade To Pro",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Handle Subscription Cancelled",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Handle Payment Failed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Handle Fallback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Handle Search Completed": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Handle Third Search": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Handle Limit Reached": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Handle User Signed Up": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Handle Report Generated": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Handle Upgrade To Pro": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Handle Subscription Cancelled": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Handle Payment Failed": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Handle Fallback": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1"
}
